*{
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
}

header{
	height: 75px;
	border-bottom: 0px;
	padding-left: auto;
	padding-right: auto;
	min-width: 100%;
	border-bottom-left-radius: 15%;
	border-bottom-right-radius: 15%;
	font-size: 20px;
	background-color: #181818;
	-webkit-box-shadow: 0 -5px 30px 1px #000000;
	-moz-box-shadow: 0 -5px 30px 1px #000000;
	box-shadow: 0 -5px 50px 1px #000000;
	z-index: 1;
	position: relative;
	min-width: 1000px;
}


#loutForm {
	font-size: 13px;
	float:right;
	padding-top: 20px;
	padding-right:5%;
}

#user {
	font-size: 15px;
	color: #6AE368;
}

#lout{
	border-radius: 5px 0px 5px 0px;
	color:#467373;
	border: solid 1px #172626;
	background-color: rgba(250,250,250,0.9);
	height:33px;
	width:75px;
	font-size: 15px;
	cursor: pointer;
  	margin-left:20px;
	transition: box-shadow 0.3s, border 0.3s,color 0.5s,background-color 0.5s;
}

#lout:hover {
	border: solid 1px white;
  	box-shadow: 0 0 5px 1px #172626;
  	color: white;
  	background-color:#172626;
  	cursor: pointer;
}


header h1 a:active{
	text-decoration: none;
	color:#607D8B;
}

header h1 a{
	color:#6ae368;
	font-family: 'Arial Black';
	font-size: 40px;
	float: left;
	padding-top: 5px;
	padding-top: 12px;
	transition:color 0.5s;
	text-decoration: none
}

#logo img{
	margin: auto 25px;
	float: left;
	width: 65px;
	height: 65px;
	padding-top: 5px;
	padding-left:5%;
}


body {
	background-color:#606060;
}

#eventfeed {
	width: 60%;
	margin: auto;

	border: 1px solid gray;
	border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;

	background-color: #ddddff;
	-webkit-box-shadow: 0 -5px 30px 1px #000000;
	-moz-box-shadow: 0 -5px 30px 1px #000000;
	box-shadow: 0 -5px 30px 1px #000000;
	position: relative;
	min-width: 709px;
}

.eventForm {
	margin: 50px;
}

#file-to-upload {
    visibility: hidden;
}

#eventTextBox {
	background-color: #FFFFFF;
	border: 1px solid gray;
	border-radius: 5px 0px 5px 0px;
	-moz-border-radius: 5px 0px 5px 0px;
	-webkit-border-radius: 5px 0px 5px 0px;
  	transition: box-shadow 0.3s, border 0.3s;
	font-size: 15px;
	width: 70%;
	margin: auto;
	margin-bottom: 3px;
	margin-top: 3px;
	margin-left: 5%;
	outline: none;
	height:27px;
	padding-left: 10px;
	display: inline-block;
}

#eventTextBox:focus {
  	border: solid 1px #707070;
  	box-shadow: 0 0 5px 1px #172626;
}


#nameTextBox {
	background-color: #FFFFFF;
	border: 1px solid gray;
	border-radius: 5px 0px 5px 0px;
	-moz-border-radius: 5px 0px 5px 0px;
	-webkit-border-radius: 5px 0px 5px 0px;
  	transition: box-shadow 0.3s, border 0.3s;
	font-size: 15px;
	width: 20%;
	margin: auto;
	margin-bottom: 3px;
	margin-top: 3px;
	outline: none;
	height:27px;
	padding-left: 10px;
	display: inline-block;
}

#nameTextBox:focus {
  	border: solid 1px #707070;
  	box-shadow: 0 0 5px 1px #172626;
}

#crtEvent {
	border-radius: 5px 0px 5px 0px;
	color:#467373;
	border: solid 1px #172626;
	background-color: rgba(250,250,250,0.9);
	height:28px;
	width:75px;
	cursor: pointer;
	transition: box-shadow 0.3s, border 0.3s,color 0.5s,background-color 0.5s;
	font-size: 13px;
	margin-top: 5px;
	display: inline-block;
}


#crtEvent:hover {
	border: solid 1px white;
  	box-shadow: 0 0 5px 1px #172626;
  	color: white;
  	background-color:#172626;
  	cursor: pointer;
}

#addPhotos {
	width: 120px;
	padding: 3px;
	border: solid 1px gray;
	background-color: white;
	border-radius: 5px 0px 5px 0px;
	-moz-border-radius: 5px 0px 5px 0px;
	-webkit-border-radius: 5px 0px 5px 0px;
	color: #5E5951;
	margin: 8px;
	margin-top: 30px;
	display: inline-block;
}

#addPhotos:hover {
	cursor: pointer;
}

#file-to-upload {
	visibility: hidden;
}

#event-hour {
	padding: 3px;
	border: solid 1px gray;
	border-radius: 5px 0px 5px 0px;
	-moz-border-radius: 5px 0px 5px 0px;
	-webkit-border-radius: 5px 0px 5px 0px;
	color: #5E5951;
	margin: 8px;
	margin-top: 30px;
	display: inline-block;
}

#event-date {
	padding: 3px;
	border: solid 1px gray;
	border-radius: 5px 0px 5px 0px;
	-moz-border-radius: 5px 0px 5px 0px;
	-webkit-border-radius: 5px 0px 5px 0px;
	color: #5E5951;
	margin: 8px;
	margin-top: 30px;
}

.placeholder:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
 }

.placeholder:focus:before,
.placeholder:valid:before {
    content: "";
 }






.dropdown-div {
    /* Size and position */
    position: relative;
    width: 120px;
    margin: 6px;
    margin-top: 30px;
    padding: 3px;

    /* Styles */
    background: #fff;
    border-radius: 5px 0px 5px 0px;
	-moz-border-radius: 5px 0px 5px 0px;
	-webkit-border-radius: 5px 0px 5px 0px;
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
    outline: none;
    display: inline-block;

    /* Font settings */
    font-size: 5px;
    color:  #5E5951;
}


.dropdown-div:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #8aa8bd transparent;
}


.dropdown-div .dropdown {
  /* Size & position */
    position: absolute;
    top: 140%;
    left: 0;
    right: 0;

    /* Styles */
    background: white;
    border-radius: inherit;
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-weight: normal;
    transition: all 0.3s ease-in;
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
    z-index: 1;
}

.dropdown-div .dropdown li a {
    display: block;
    padding: 3px;
    text-decoration: none;
    color: #5E5951;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    transition: all 0.2s ease-out;
}

.dropdown-div .dropdown li:first-of-type a {
    border-radius: 7px 7px 0 0;
}

.dropdown-div .dropdown li:last-of-type a {
    border-radius: 0 0 7px 7px;
    border: none;
}

/* Hover state */

.dropdown-div .dropdown li:hover a {
    background: rgba(0,105,26,0.5);
}


.dropdown-div .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;    
}

.dropdown-div .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;    
}


.dropdown-div.active .dropdown {
    opacity: 1;
    pointer-events: auto;
    z-index: 1;
}


.event {
	width: 60%;
	margin: auto;

	margin-top:4%;
	margin-bottom: 0px;

	border: 1px solid gray;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;

	background-color: #ddddff;
	-webkit-box-shadow: 0 -5px 30px 1px #000000;
	-moz-box-shadow: 0 -5px 30px 1px #000000;
	box-shadow: 0 -5px 30px 1px #000000;
	position: relative;
}

.icon {
	margin: 2%;
	vertical-align: middle;
}

.event {
	min-width: 709px;
}

.event .eventType {
	font-size: 20px;
	font-weight: bold;
}


.event .description {
	margin: 2%;
}

.event .eventDate {
	width: 40%;
	margin-left: 2%;
}

.event .description {
	text-align: center;
	vertical-align: middle;
	line-height: 90px;
}

.event .createdTime {
	float: right;
	margin: 2%;
}

.event .eventTitle {
	text-align: center;
	font-size: 20px;
}

.event .image {
	background:no-repeat center center;
}

.event .background {
	width: 100%;
  	height: 100%;
  	position: absolute;
  	top: 0;
  	left: 0;
  	opacity: 0.15; 
  	background-size: cover;
}

.event .background:hover {
	cursor: pointer;
	opacity: 0.35;
}

.event .background .going {
	visibility: hidden;
}


.eventButtons {
	width: 60%;
	margin: auto;
	margin-top: 1%;

	border: 1px solid gray;
	border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;

	background-color: #ddddff;
	-webkit-box-shadow: 0 -5px 30px 1px #000000;
	-moz-box-shadow: 0 -5px 30px 1px #000000;
	box-shadow: 0 -5px 30px 1px #000000;
	position: relative;
	min-width: 709px;
}

footer{
	margin-top: 8%;
	height: 150px;
	background-color: #181818;
	-webkit-box-shadow: 0 -5px 30px 1px #000000;
	box-shadow: 0 -5px 30px 1px #000000;
}

footer .title{
	text-align: center;
	padding-top:30px;
}

footer .title a{
	font-size: 18px;
	padding-left: 20px;
	padding-right:20px;
	font-family: 'Montserrat', sans-serif;
}

footer .buttons{
	text-align: center;
	padding-bottom:30px;
}

footer .buttons a{
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	padding-left: 10px;
	padding-right:10px;
	text-decoration: none;
	color:black;
}

footer .buttons a:visited{
	color:black;
}